#root {
  --text-color: #d1d0c5;
  --animation: none;

  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.typing-test {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.words {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
  user-select: none;
  padding-bottom: 1em;
}

.word {
  position: relative;
  font-size: 2em;
  line-height: 1em;
  margin: 0.25em 0.3em;
  font-variant: no-common-ligatures;
  border-bottom: 2px solid transparent;

  div {
    display: inline-block;
    color: var(--text-color);
    animation: var(--animation);
    border-bottom-style: solid;
    border-bottom-width: 0.05em;
    border-bottom-color: transparent;
  }
}
